Repository marbleblazer/ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run lint:scss:fix

.lintstagedrc:

{
    "*.{js,ts,jsx,tsx}": ["npm run lint:fix"],
    "*.{css,scss}": ["npm run lint:scss:fix"]
}

v0.258.0
  package.json
Due: none

v0.259.0
  package.json
Due: none

v0.260.0
  package.json
Due: none

v0.261.0
  package.json
Due: none

v0.262.0
  package.json
Due: none

v0.263.0
  package.json
Due: none

v0.264.0
  package.json
Due: none

v0.265.0
  package.json
Due: none

v0.266.0
  package.json
Due: none

v0.267.0
  package.json
Due: none

fix: color scheme changing is fixed
  src/lib/map/feature-map.tsx
  src/lib/map/trip-map/index.tsx
Due: npm run lint:fix

fix: caching removed
  src/lib/map/feature-map.tsx
  src/lib/map/trip-map/index.tsx
Due: npm run lint:fix

feat: update packages to react 19.0.0 (#147)
  .storybook/mui-decorator.tsx
  package.json
  src/hooks/use-breakpoints.tsx
  src/lib/badge/index.tsx
  src/lib/chirp-widgets/flat-linear-graph/components/graph/helpers.ts
  src/lib/map/base-map.tsx
  src/lib/map/trip-map/index.tsx
  src/lib/map/trip-map/utils.ts
  src/lib/select/index.tsx
  src/lib/select/style.ts
  src/lib/table/components/skeleton-rows.tsx
  src/lib/table/components/table-component/index.tsx
  src/lib/table/components/table-component/style.ts
  src/lib/table/components/table-head/index.tsx
  src/lib/table/components/table-head/style.ts
  src/lib/table/components/table-row.tsx
  src/lib/table/index.ts
  src/lib/table/table-virtualized.tsx
  src/lib/table/table.tsx
  src/lib/table/types.ts
  src/lib/tree-select/index.tsx
  src/lib/widgets/donut-widget/index.tsx
  src/lib/widgets/list-widget-with-filters/index.tsx
  src/lib/widgets/list-widget-with-filters/list-widget-with-filters.stories.tsx
  src/lib/widgets/list-widget/index.tsx
  src/styles/style.scss
  yarn.lock
Due: npm run lint:fix, npm run lint:scss:fix

v0.268.0
  package.json
Due: none

v0.269.0
  package.json
Due: none

Update pipeline-publish.yml (#158)
  .github/workflows/pipeline-publish.yml
Due: none

v0.270.0
  package.json
Due: none

feat:: added horizontal scroll to table
  src/lib/table/Table.tsx
  src/lib/table/components/Table/index.tsx
  src/lib/table/components/Table/style.ts
  src/lib/table/style.ts
Due: npm run lint:fix

feat: correct colors (#155)
  src/assets/icons/ChirpModalIcon/index.tsx
  src/lib/button/style.ts
  src/lib/chirp-widgets/widget-base/components/loading-state/index.tsx
  src/styles/theme.d.ts
  src/styles/theme/components.ts
  src/styles/theme/reference-palettes.tsx
Due: npm run lint:fix

v0.271.0
  package.json
Due: none

bugfix/map-color-changing (#156)
  src/lib/map/base-map.tsx
  src/lib/map/feature-map.tsx
  src/lib/map/map-controls/help-control/help-control-svg.ts
  src/lib/map/map-controls/help-control/help-control.ts
  src/lib/map/trip-map/index.tsx
Due: npm run lint:fix

v0.272.0
  package.json
Due: none

feature/table-horizontal-scroll (#159)
  src/lib/table/components/table-component/index.tsx
  src/lib/table/components/table-component/style.ts
  src/lib/table/style.ts
  src/lib/table/table.tsx
Due: npm run lint:fix

v0.273.0
  package.json
Due: none

Feature/typography changes (#162)
  src/lib/button/style.ts
  src/lib/chirp-widgets/widget-base/components/loading-state/index.tsx
  src/lib/color-picker/style.ts
  src/lib/modal/modal-title.tsx
  src/lib/select/style.ts
  src/lib/text-field/style.ts
  src/lib/toast/index.tsx
  src/lib/typogrpahy/typography.stories.tsx
  src/styles/theme.d.ts
  src/styles/theme/template.ts
Due: npm run lint:fix

v0.274.0
  package.json
Due: none

Feature/dropdown multiselect (#164)
  src/hooks/use-debounce.ts
  src/lib/dropdown-menu/dropdown-menu.stories.tsx
  src/lib/dropdown-menu/index.tsx
  src/lib/dropdown-multiselect/dropdown-button/dropdown-button.tsx
  src/lib/dropdown-multiselect/dropdown-button/style.ts
  src/lib/dropdown-multiselect/dropdown-content/footer.tsx
  src/lib/dropdown-multiselect/dropdown-content/style.ts
  src/lib/dropdown-multiselect/dropdown-multiselect.stories.tsx
  src/lib/dropdown-multiselect/index.tsx
  src/lib/dropdown/dropdown.stories.tsx
  src/lib/dropdown/index.tsx
  src/lib/index.ts
Due: npm run lint:fix

v0.275.0
  package.json
Due: none

feat: update typographies to new (#165)
  src/lib/cards/base-card/styles.ts
  src/lib/cards/column-card/index.tsx
  src/lib/charts/line-chart/line-line-chart.tsx
  src/lib/checkbox/index.tsx
  src/lib/chirp-widgets/flat-linear-graph/components/Tooltip/index.tsx
  src/lib/chirp-widgets/widget-base/index.tsx
  src/lib/empty-fallback/index.tsx
  src/lib/image-preview/index.tsx
  src/lib/list-item/components/accordion.tsx
  src/lib/list-item/components/base-list-item.tsx
  src/lib/list-item/style.tsx
  src/lib/logout/index.tsx
  src/lib/map/style.ts
  src/lib/select/index.tsx
  src/lib/system-widget/index.tsx
  src/lib/table/components/table-head/style.ts
  src/lib/table/style.ts
  src/lib/text-field/style.ts
  src/lib/tree-select/style.tsx
  src/lib/user-popup/index.tsx
  src/lib/widgets/base-widget/base-widget-custom-header.tsx
  src/lib/widgets/base-widget/base-widget.stories.tsx
  src/lib/widgets/base-widget/index.tsx
  src/lib/widgets/common/color-list-item/list-item.tsx
  src/lib/widgets/list-widget-with-filters/index.tsx
  src/lib/widgets/list-widget-with-filters/list-widget-with-filters.stories.tsx
  src/lib/widgets/list-widget/index.tsx
  src/lib/widgets/stacked-line-widget/styles.ts
  src/lib/widgets/vertical-bars-widget/index.tsx
  src/styles/theme.d.ts
  src/styles/theme/template.ts
Due: npm run lint:fix

v0.276.0
  package.json
Due: none

fix(table-virtualized): correct logic (#166)
  src/lib/table/components/table-component/index.tsx
  src/lib/table/table-virtualized.tsx
Due: npm run lint:fix

v0.277.0
  package.json
Due: none

feat(phone-field): update background style (#168)
  src/lib/phone-field/styles.ts
Due: npm run lint:fix

v0.278.0
  package.json
Due: none

Feature/table virtualization (#170)
  src/lib/widgets/vertical-bars-widget/current-item-content.tsx
  src/styles/theme/light.ts
Due: npm run lint:fix

v0.279.0
  package.json
Due: none

feat: update typography color setting rules (#172)
  package.json
  src/lib/autocomplete/index.ts
  src/lib/cards/card-with-image/index.tsx
  src/lib/cards/card-with-image/styles.ts
  src/lib/charts/vertical-bar-chart/vertical-bar-line-chart.tsx
  src/lib/empty-fallback/index.tsx
  src/lib/list-item/list-item.stories.tsx
  src/lib/map/base-map.tsx
  src/lib/map/trip-map/index.tsx
  src/lib/radio/style.ts
  src/lib/widgets/common/color-list-item/list-item.tsx
  src/lib/widgets/vertical-bars-widget/index.tsx
  src/lib/widgets/vertical-bars-widget/styles.ts
  src/lib/widgets/vertical-bars-widget/vertical-bars-widget.stories.tsx
  yarn.lock
Due: npm run lint:fix

v0.280.0
  package.json
Due: none

Feature/badges (#174)
  src/lib/badge-select/badge-select.stories.tsx
  src/lib/badge-select/index.tsx
  src/lib/badge-select/style.ts
  src/lib/badge/badge.stories.tsx
  src/lib/badge/index.tsx
  src/lib/badge/style.ts
  src/lib/index.ts
  src/styles/theme/components.ts
  src/styles/theme/template.ts
Due: npm run lint:fix

v0.281.0
  package.json
Due: none
