Repository marbleblazer/ui-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, npm run lint:scss:fix

feat: dev titles centering
  src/lib/list-item/components/base-list-item.tsx
  src/lib/list-item/style.tsx
Due: npm run lint:fix

feat: update version
  package.json
Due: none

feat: update version and currentColor to Calender icon
  package-lock.json
  package.json
  src/assets/fleet-icons/calendar.svg
Due: none

feat: update version
  .env.profuction
  package.json
Due: none

feat: update select and autocompelete styles
  .env.profuction
  package.json
  src/lib/autocomplete/autocomplete.stories.tsx
  src/lib/autocomplete/index.ts
  src/lib/select/index.tsx
  src/lib/select/style.ts
Due: npm run lint:fix

fix: correct map data removing if data is null
  package.json
  src/lib/map/index.tsx
  src/lib/map/map.stories.tsx
  src/lib/select/style.ts
Due: npm run lint:fix

fix: change divider color and input labels
  package.json
  src/lib/range-picker/range-picker.tsx
Due: npm run lint:fix

feat: add yarn
  package-lock.json
  yarn.lock
Due: none

v0.0.45
  package.json
Due: none

feat: update lock file
  package.json
  yarn.lock
Due: none

feat: install peers package
  package.json
  yarn.lock
Due: none

ref: delete overrides from package json
  package.json
Due: none

feat: init and dev toast component
  package.json
  src/lib/index.ts
  src/lib/toast/index.tsx
  src/lib/toast/style.ts
  src/lib/toast/toast.stories.tsx
Due: npm run lint:fix

feat: init and dev toast-container component
  package.json
  src/lib/index.ts
  src/lib/toast/toast-container/index.tsx
  src/lib/toast/toast-container/style.ts
  src/lib/toast/toast.stories.tsx
  yarn.lock
Due: npm run lint:fix

fix: correct toast autoclose time
  package.json
  src/lib/toast/toast-container/index.tsx
Due: npm run lint:fix

fix: correct depenencies
  package.json
  yarn.lock
Due: none

ref(toast): move toast-container out of toast folder
  package.json
  src/lib/index.ts
  src/lib/toast-container/index.tsx
  src/lib/toast-container/style.ts
  src/lib/toast/toast-container/index.tsx
Due: npm run lint:fix

feat: update colro palette
  package.json
  src/styles/theme/dark.ts
Due: npm run lint:fix

feat: add new icons
  package.json
  src/assets/fleet-icons/index.tsx
  src/assets/fleet-icons/system-attribute.svg
  src/assets/fleet-icons/user-managment.svg
Due: npm run lint:fix

feat: init and dev switch component
  package.json
  src/lib/index.ts
  src/lib/switch/index.tsx
  src/lib/switch/style.tsx
  src/lib/switch/switch.stories.tsx
Due: npm run lint:fix

feat: SpeakerIcon currentColor
  package.json
  src/assets/fleet-icons/speaker.svg
  yarn.lock
Due: none

feat: dev cssbaseline
  .storybook/mui-decorator.tsx
  package.json
  src/styles/scrollbar.scss
  src/styles/style.scss
  src/styles/theme/components.ts
Due: npm run lint:fix, npm run lint:scss:fix

fix(list-item): correct props priority
  package.json
  src/lib/list-item/components/base-list-item.tsx
Due: npm run lint:fix

feat: update map bounding logic
  package.json
  src/lib/map/index.tsx
Due: npm run lint:fix

ref: update map data interface
  package.json
  src/helpers/mapUtils.ts
  src/lib/map/index.tsx
Due: npm run lint:fix

feat(map): add custom marker
  package.json
  src/assets/fleet-icons/plus-light.svg
  src/lib/map/index.tsx
  src/lib/map/map.stories.tsx
  src/lib/map/style.ts
Due: npm run lint:fix

feat: update version and storybook@7.6.20 update
  package.json
  yarn.lock
Due: none

feat: update other storybook packages
  package.json
  yarn.lock
Due: none

fix: styles of phone field have been corrected
  src/lib/phone-field/styles.ts
Due: npm run lint:fix

fix: version corrected
  package.json
Due: none

Migrate to GitHub (#1)
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/pipeline-build.yml
  .github/workflows/pipeline-release.yml
  .nvmrc
  README.md
  package.json
Due: none

Move pipeline out of reusable actions (#3)
  .github/workflows/pipeline-build.yml
Due: none

v0.1.0
  package.json
Due: none

Split the build pipeline (#6)
  .github/workflows/pipeline-build.yml
  .github/workflows/pipeline-publish.yml
Due: none

v0.2.0
  package.json
Due: none

Chirp UI 2237 phone field (#4)
  src/lib/phone-field/styles.ts
Due: npm run lint:fix

v0.3.0
  package.json
Due: none

Chirp UI 2103 tree select (#5)
  src/assets/fleet-icons/units.svg
  src/lib/button/style.ts
  src/lib/checkbox/index.tsx
  src/lib/image-preview/index.tsx
  src/lib/map/index.tsx
  src/lib/map/map.stories.tsx
  src/lib/text-field/index.tsx
  src/lib/text-field/style.ts
  src/lib/tree-select/index.tsx
  src/lib/tree-select/style.tsx
  src/lib/tree-select/tree-select.stories.tsx
  yarn.lock
Due: npm run lint:fix

Path conditions:
  npm run lint:fix: any of: *.{js,ts,jsx,tsx}
  npm run lint:scss:fix: any of: *.{css,scss}
